<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name ="Suite">
	<listeners>
		<listener class-name="daily.Base.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="submit order">
		<classes>
			<class name="daily.Test.OrderProducts" />
		</classes>
	</test> <!--
	Test -->

	<test thread-count="5" name="ErrorValidation">
		<classes>
			<class name="daily.Test.ErrorValidation" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
